---
import { getTopTracks } from '../lib/spotify';
const tracks = await getTopTracks();
---

<html>
  <head>
    <title>Top 50 Spotify</title>
  </head>
  <body>
    <h1>Top 50 Canciones en Spotify</h1>
    <ul>
		<ul>
		{tracks.map(track => (
			<li>
				<a href={`/cancion/${track.id}`}>{track.name} - {track.artists[0].name}</a>
			</li>
		))}
		</ul>
    </ul>
  </body>
</html>
