---
import { getCollection } from 'astro:content';

const canciones = await getCollection('canciones');
---

<html>
  <head>
    <title>Top 50 Spotify</title>
  </head>
  <body>
    <h1>Top Canciones en Spotify</h1>
    <ul>
      {canciones.map(({ slug, data }) => (
        <li>
          <a href={`/cancion/${slug}`}>{data.name} - {data.artist}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
